<div class="ui-g">
    <div class="ui-g-12 ui-md-6 ui-lg-6 page-title">
        Quản lý tài khoản
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-6 page-action">
        <button pButton label="Tạo mới"></button>
    </div>
</div>
<hr>
<div class="page-content">
    <div class="ui-g">
        <div class="ui-g-12">
            <p-table [value]="accountList" [scrollable]="true" scrollHeight="76vh" selectionMode="single"
                     dataKey="id" [(selection)]="accountSelected">
                <ng-template pTemplate="header">
                    <tr>
                        <th class="ng-star-inserted">STT</th>
                        <th *ngFor="let col of cols">
                            {{col.header}}
                        </th>
                        <th class="ng-star-inserted">Thao tác</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-index="rowIndex" let-rowData="rowData">
                    <tr [pSelectableRow]="rowData">
                        <td class="text-center">{{index + 1}}</td>
                        <td [pEditableColumn]="rowData" pEditableColumnField="name" [title]="rowData['name']">
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="rowData['name']">
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{rowData['name']}}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td [pEditableColumn]="rowData" pEditableColumnField="time" [title]="rowData['username']">
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="rowData['username']">
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{rowData['username']}}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td [pEditableColumn]="rowData" pEditableColumnField="content" [title]="rowData['role']">
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="rowData['role']">
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{rowData['role']}}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td class="text-center" [title]="rowData['status']"><span
                                class="status">{{rowData['status']}}</span></td>
                        <td class="text-center">
                            <div class="table-button">
                                <button pButton icon="fa fa-trash" type="button" (click)="delete(rowData)"
                                        class="ui-button-danger"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
<was-confirm-dialog-custom></was-confirm-dialog-custom>
