<p-dialog modal="true" [(visible)]="display" responsive="true">
    <form [formGroup]="profileForm" (ngSubmit)="create()">
        <div class="ui-g form-group">
            <div class="ui-g-12">
                <div class="input-block">
                    <div class="ui-float-label no-append">
                        <input pInputText formControlName="name" id="name" required>
                        <label for="name">Tên <span class="required">(*)</span></label>
                    </div>
                </div>
                <div class="input-block">
                    <div class="ui-float-label no-append">
                        <p-calendar id="time" showTime="true" appendTo="body" formControlName="time" required dateFormat="dd/mm/yy"></p-calendar>
                        <label for="time">Thời gian <span class="required">(*)</span></label>
                    </div>
                </div>
                <div class="input-block">
                    <div class="ui-float-label no-append">
                        <input pInputText formControlName="content" id="content" required>
                        <label for="content">Nội dung <span class="required">(*)</span></label>
                    </div>
                </div>
            </div>
        </div>
        <p-footer>
            <div class="text-right">
                <button pButton type="submit" [disabled]="!profileForm.valid" label="Tạo mới"></button>
                <button pButton type="button" label="Hủy" (click)="display = !display" class="ui-button-secondary"></button>
            </div>
        </p-footer>
    </form>
</p-dialog>
<p-growl [(value)]="msgs"></p-growl>
