<div id="layout-topbar">
    <a class="logo" [routerLink]="['/']">
        HRFL
    </a>
    <a href="#" class="menu-button" (click)="onMenuButtonClick($event)">
        <i class="fa fa-bars"></i>
    </a>
    <ul class="topbar-menu">
        <li>
            <a (click)="menu.toggle($event)" class="user-block">
                <span class="username">Emma Davis</span>
                <img src="../../../../assets/showcase/images/person-svg-anonymous-6.png">
                <i class="fa fa-angle-down"></i>
            </a>
            <p-menu #menu [popup]="true" [model]="items"></p-menu>
        </li>
    </ul>
</div>

<div class="layout-mask" *ngIf="menuActive">
</div>
