<div id="layout-topbar">
    <a class="logo" [routerLink]="['/']">
        HRFL
    </a>
    <a href="#" class="menu-button" (click)="onMenuButtonClick($event)">
        <i class="fa fa-bars"></i>
    </a>
    <ul class="topbar-menu">
        <li>
            <a href="#">
                <span class="username">Emma Davis</span>
                <img src="../../../../assets/showcase/images/person-svg-anonymous-6.png">
                <i class="fa fa-angle-down"></i></a>
        </li>
    </ul>
</div>

<div id="layout-sidebar" [ngClass]="{'active': menuActive}">
    <div class="layout-menu">
        <a [routerLink]="['/']">
            <i class="menu-icon fa fa-fw fa-home"></i>
            <span>Trang chủ</span>
        </a>
        <a [routerLink]="['/room']">
            <i class="menu-icon fa fa-fw fa-list-alt"></i>
            <span>Quản lý phòng và nhà cho thuê</span>
        </a>
        <a>
            <i class="menu-icon fa fa-fw fa-users"></i>
            <span>Quản lý tài khoản</span>
        </a>
        <a>
            <i class="menu-icon fa fa-fw fa-bar-chart"></i>
            <span>Thống kế</span>
        </a>
        <a>
            <i class="menu-icon fa fa-fw fa-calendar"></i>
            <span>Lập lịch</span>
        </a>
    </div>
</div>

<div class="layout-mask" *ngIf="menuActive">
</div>
