@import "../../../../assets/showcase/styles/mixin";

.img-block {
  @include ratio-wrappter(16, 9);
}

.img-container {
  padding: 5px;
  height: 3.5em;
  &:hover {
    cursor: pointer;
  }
}

:host ::ng-deep {
  .device-galleria .ui-galleria{
    margin: 0 auto;
  }
}
::ng-deep body .detail .device-galleria {
  .ui-widget-content {
    background: #FFFFFF!important;
  }
}
