<div class="ui-g">
    <div class="ui-g-12 ui-md-6 ui-lg-6">
        <p-panel header="Demo 1">
            <p-chart type="bar" [data]="data"></p-chart>
        </p-panel>
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-6">
        <p-panel header="Demo 2">
            <p-chart type="bar" [data]="data"></p-chart>
        </p-panel>
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-6">
        <p-panel header="Demo 3">
            <p-chart type="pie" [data]="dataPipe"></p-chart>
        </p-panel>
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-6">
        <p-panel header="Demo 4">
            <p-chart type="line" [data]="dataLine"></p-chart>
        </p-panel>
    </div>
</div>
