<div class="ui-g">
    <div class="ui-g-4">
        <div class="img-block">
            <div class="img-item">
                <img src="../../../../assets/showcase/images/house.jpg">
            </div>
        </div>
    </div>
    <div class="ui-g-8">
        <div class="ui-g no-padding">
            <div class="ui-g-12">
                <div class="detail-block">
                    <div class="input-block no-append">
                        <div class="ui-float-label">
                            <input pInputText class="append" type="text" value="Nguyễn Văn A"
                                   id="name">
                            <label for="name">Tên</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui-g-6">
                <div class="input-block no-append no-border">
                    <div class="ui-float-label">
                        <p-dropdown id="sex" [options]="sexs" [(ngModel)]="sexSelected"></p-dropdown>
                        <label for="sex">Tên</label>
                    </div>
                </div>
            </div>
            <div class="ui-g-6">
                <div class="detail-block">
                    <div class="input-block no-append">
                        <div class="ui-float-label">
                            <p-calendar id="birthday" appendTo="body"></p-calendar>
                            <label for="birthday">Ngày sinh</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui-g-6">
                <div class="detail-block">
                    <div class="input-block no-append">
                        <div class="ui-float-label">
                            <input pInputText class="append" type="text" value="0909090909"
                                   id="phone">
                            <label for="phone">SĐT</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui-g-6">
                <div class="detail-block">
                    <div class="input-block no-append">
                        <div class="ui-float-label">
                            <input pInputText class="append" type="text" value="Sinh viên"
                                   id="job">
                            <label for="job">Nghề nghiệp</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui-g-6">
                <div class="detail-block">
                    <div class="input-block no-append">
                        <div class="ui-float-label">
                            <input pInputText class="append" type="text" value="230230230"
                                   id="identityNumber">
                            <label for="identityNumber">Số CMND</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui-g-6">
                <div class="detail-block">
                    <div class="input-block no-append">
                        <div class="ui-float-label">
                            <p-calendar id="identityDate" appendTo="body"></p-calendar>
                            <label for="identityDate">Ngày cấp</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui-g-6">
                <div class="detail-block">
                    <div class="input-block no-append">
                        <div class="ui-float-label">
                            <input pInputText class="append" type="text" value="TPHCM"
                                   id="identityPlace">
                            <label for="identityPlace">Nơi cấp</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui-g-6">
                <div class="detail-block">
                    <div class="input-block no-append">
                        <div class="ui-float-label">
                            <input pInputText class="append" type="text" value="thẻ căn cước"
                                   id="identityType">
                            <label for="identityType">Loại thẻ</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui-g-12">
                <div class="detail-block">
                    <div class="input-block no-append">
                        <div class="ui-float-label">
                            <input pInputText class="append" type="text" value="đen"
                                   id="note">
                            <label for="note">Ghi chú</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui-g">
    <div class="ui-g-12 ui-md-12 ui-lg-12 ui-noPadBot ui-noPadTop">
        <div class="card card-w-title ui-noMarBot ui-pad-bot-5">
            <div class="ui-g">
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    <h1>Thông tin khách trọ</h1>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6 text-right">
                </div>
            </div>

            <p-table [value]="guestList" [scrollable]="true" scrollHeight="15.8vh" selectionMode="single"
                     dataKey="id" [(selection)]="guestSelected" (onEditComplete)="onEditComplete($event)"
                     (onRowSelect)="onRowSelect($event)">
                <ng-template pTemplate="header">
                    <tr>
                        <th class="ng-star-inserted">STT</th>
                        <th *ngFor="let col of cols">
                            {{col.header}}
                        </th>
                        <th class="ng-star-inserted">Thao tác</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-index="rowIndex" let-data="rowData">
                    <tr [pSelectableRow]="rowData">
                        <td class="text-center">{{index + 1}}</td>
                        <td [title]="rowData['name']">{{rowData['name']}}</td>
                        <td [title]="rowData['sex']">{{rowData['sex']}}</td>
                        <td [title]="rowData['birthday' | date: 'dd/MM/yyyy']">{{rowData['birthday'] | date: 'dd/MM/yyyy'}}</td>
                        <td [title]="rowData['phone']">{{rowData['phone']}}</td>
                        <td [title]="rowData['job']">{{rowData['job']}}</td>
                        <td [title]="rowData['identityNumber']">{{rowData['identityNumber']}}</td>
                        <td [title]="rowData['identityDate'] | date: 'dd/MM/yyyy'">{{rowData['identityDate'] | date: 'dd/MM/yyyy'}}</td>
                        <td [title]="rowData['identityProvide']">{{rowData['identityProvide']}}</td>
                        <td [title]="rowData['note']">{{rowData['note']}}</td>
                        <td class="text-center">
                            <div class="table-button">
                                <button pButton icon="fa fa-trash" type="button" (click)="deleteGuest(rowData)"
                                        class="ui-button-danger"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
