<div class="ui-g">
    <div class="ui-g-12 ui-md-12 ui-lg-12 ui-noPadBot ui-noPadTop">
        <div class="card card-w-title ui-noMarBot ui-pad-bot-5">
            <div class="ui-g">
                <div class="ui-g-12 ui-md-6 ui-lg-6">
                    <h1>Thông tin khách trọ</h1>
                </div>
                <div class="ui-g-12 ui-md-6 ui-lg-6 text-right">
                    <button pButton label="Tạo mới" (click)="createGuest()"></button>
                </div>
            </div>

            <p-table [value]="guestList" [scrollable]="true" scrollHeight="15.8vh" selectionMode="single"
                     dataKey="id" [(selection)]="guestSelected" (onEditComplete)="onEditComplete($event)"
                     (onRowSelect)="onRowSelect($event)">
                <ng-template pTemplate="header">
                    <tr>
                        <th class="ng-star-inserted">STT</th>
                        <th *ngFor="let col of cols">
                            {{col.header}}
                        </th>
                        <th class="ng-star-inserted">Thao tác</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-index="rowIndex" let-data="rowData">
                    <tr [pSelectableRow]="rowData">
                        <td class="text-center">{{index + 1}}</td>
                        <td [pEditableColumn]="rowData" [pEditableColumnField]="'name'"
                            [title]="rowData['name']">
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="rowData['name']">
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{rowData['name']}}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td [pEditableColumn]="rowData" [pEditableColumnField]="'sex'"
                            [title]="rowData['sex']">
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="rowData['sex']">
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{rowData['sex']}}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td [pEditableColumn]="rowData" pEditableColumnField="birthday"
                            [title]="rowData['birthday']">
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <p-calendar appendTo="body" [(ngModel)]="rowData['birthday']"></p-calendar>
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{rowData['birthday'] | date: 'dd/MM/yyyy'}}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td [pEditableColumn]="rowData" pEditableColumnField="phone" [title]="rowData['phone']">
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="rowData['phone']">
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{rowData['phone']}}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td [pEditableColumn]="rowData" [pEditableColumnField]="'job'"
                            [title]="rowData['job']">
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="rowData['job']">
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{rowData['job']}}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td [pEditableColumn]="rowData" pEditableColumnField="identityNumber"
                            [title]="rowData['identityNumber']">
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="rowData['identityNumber']">
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{rowData['identityNumber']}}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td [pEditableColumn]="rowData" pEditableColumnField="date"
                            [title]="rowData['date']">
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <p-calendar appendTo="body" [(ngModel)]="rowData['date']"></p-calendar>
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{rowData['date'] | date: 'dd/MM/yyyy'}}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td [pEditableColumn]="rowData" [pEditableColumnField]="'household'"
                            [title]="rowData['household']">
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="rowData['household']">
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{rowData['household']}}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td class="text-center">
                            <div class="table-button">
                                <button pButton icon="fa fa-trash" type="button" (click)="deleteGuest(rowData)"
                                        class="ui-button-danger"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
