<p-tabView *ngIf="items.length > 0 && display">
    <p-tabPanel header="danh sách">
        <div class="ui-g" *ngIf="items.length > 0 && display">
            <div class="ui-g-12 ui-md-4 ui-lg-3" *ngFor="let item of items">
                <div class="item-block" (click)="showDetail(item)">
                    <div class="img-block">
                        <div class="img-item">
                            <img src="../../../../assets/showcase/images/house.jpg">
                        </div>
                    </div>
                    <div class="item-detail-block">
                        <div class="name">
                            {{item.name}}
                        </div>
                        <div class="description room-count">
                            {{item.price}}$/{{item.guestNumber}} người
                        </div>
                        <div class="description room-address">
                            {{item.status === 1 ? 'Đã thanh toán' : 'Chưa thanh toán'}}
                        </div>
                    </div>
                    <div class="item-detail-action">
                        <div>Xem chi tiết</div>
                    </div>
                </div>
            </div>
        </div>
    </p-tabPanel>
    <p-tabPanel header="Thông tin">
        <div class="ui-g">
            <div class="ui-g-12 ui-md-4 ui-lg-3">
                <div class="room-img-block">
                    <div class="img-item">
                        <img src="../../../../assets/showcase/images/house.jpg">
                    </div>
                </div>
            </div>
            <div class="ui-g-12 ui-md-8 ui-lg-9">
                <div class="input-block">
                    <div class="ui-float-label no-append">
                        <input pInputText class="append" type="text" [(ngModel)]="block.name" id="name"
                               (change)="update('name', 'Tên', $event.target.value)">
                        <label for="address">Tên</label>
                    </div>
                </div>
                <div class="input-block">
                    <div class="ui-float-label no-append">
                        <input pInputText class="append" type="text" [(ngModel)]="block.address" id="address"
                               (change)="update('address', 'Địa chỉ', $event.target.value)">
                        <label for="address">Địa chỉ</label>
                    </div>
                </div>
                <div class="input-block">
                    <div class="ui-float-label no-append">
                        <input pInputText class="append" type="text" [(ngModel)]="block.landNumber" id="landNumber"
                               (change)="update('roomPrice', 'Thửa đất số', $event.target.value)">
                        <label for="landNumber">Thửa đất số</label>
                    </div>
                </div>
                <div class="input-block">
                    <div class="ui-float-label no-append">
                        <input pInputText class="append" type="text" [(ngModel)]="block.mapNumber" id="mapNumber"
                               (change)="update('mapNumber', 'Bản đồ số', $event.target.value)">
                        <label for="mapNumber">Bản đồ số</label>
                    </div>
                </div>
                <div class="input-block">
                    <div class="ui-float-label">
                        <input pInputText class="append" type="number" [(ngModel)]="block.acreage" id="acreage"
                               (change)="update('acreage', 'Diện tích', $event.target.value)">
                        <label for="acreage">Diện tích</label>
                        <span class="input-block-append">m2</span>
                    </div>
                </div>
            </div>
        </div>
    </p-tabPanel>
</p-tabView>

