<div class="ui-g">
    <div class="ui-g-12 ui-md-6 ui-lg-6 page-title">
        Quản lý phòng và nhà cho thuê
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-6 page-action">
        <button *ngIf="isDetail" pButton label="Quay lại" class="ui-button-secondary" (click)="back()"></button>
        <button *ngIf="isDetail" pButton label="Tạo lịch nhắc nhở" class="ui-button-warning"
                (click)="createCalendar()"></button>
        <button *ngIf="isDetail" pButton label="Ngưng hoạt động" class="ui-button-danger" (click)="stop()"></button>
        <button pButton label="Tạo mới" (click)="create()"></button>
    </div>
</div>
<hr>
<div class="page-content">
    <p-panel [header]="initHeader()" [ngClass]="{'detail': isDetail}">
        <div class="content-panel-block">
            <was-room-item *ngIf="!isDetail" (showDetailEvent)="showDetail($event)"></was-room-item>
            <p-tabView *ngIf="isDetail">
                <p-tabPanel header="Lịch sử thanh toán">
                    <was-room-history> </was-room-history>
                </p-tabPanel>
                <p-tabPanel header="Quản lý thiết bị">
                    <was-room-device (createDeviceEvent)="createDeviceEmit()" (deleteDeviceEvent)="deleteDeviceEmit($event)"></was-room-device>
                </p-tabPanel>
                <p-tabPanel header="Tổng quan">
                    <was-room-detail (payEvent)="payEmitAction($event)" (deleteGuestEvent)="deleteGuestEmitAction($event)"
                                     (createGuestEvent)="createGuestEmitAction()"
                                     (updateRoomEvent)="updateRoomEventAction($event)"
                                     (updateGuestEvent)="updateGuestEventAction($event)"></was-room-detail>
                </p-tabPanel>
            </p-tabView>
        </div>
    </p-panel>
</div>
<was-calendar-new></was-calendar-new>
<was-room-new (createRoomEvent)="createRoomAction($event)"></was-room-new>
<was-room-guest-new (createGuestEvent)="createGuestAction($event)"></was-room-guest-new>
<was-room-device-new (createDeviceEvent)="createDeviceEventEmit($event)"></was-room-device-new>
<p-growl [(value)]="msgs"></p-growl>
<was-confirm-dialog-custom></was-confirm-dialog-custom>
