.content-panel-block {
  min-height: 71vh;
  max-height: 71vh;
  overflow-y: scroll;
}
::ng-deep body .detail {
  .ui-widget-content {
    border: none!important;
    background-color: transparent!important;
  }
}
