<div class="ui-g">
    <div class="ui-g-12 ui-md-6 ui-lg-6 page-title">
        Quản lý phòng và nhà cho thuê
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-6 page-action">
        <button *ngIf="isDetail" pButton label="Quay lại" class="ui-button-secondary" (click)="back()"></button>
        <button *ngIf="isDetail" pButton label="Tạo lịch nhắc nhở" class="ui-button-warning"
                (click)="createCalendar()"></button>
        <button *ngIf="isDetail" pButton label="Ngưng hoạt động" class="ui-button-danger" (click)="stop()"></button>
        <button pButton label="Tạo mới" (click)="create()"></button>
    </div>
</div>
<hr>
<div class="page-content">
    <div class="ui-g">
        <div class="ui-g-12 ui-md-6 ui-lg-6 ui-noPadLef">
            <div class="dropdown-item">
                <p-dropdown [options]="roomTypeList" [(ngModel)]="roomTypeSelected" (onChange)="changeDetail('type')"></p-dropdown>
            </div>
            <div class="dropdown-item" *ngIf="roomTypeSelected === 'room'">
                <p-dropdown [options]="roomList"
                            [(ngModel)]="roomSelected" (onChange)="changeDetail('room')"></p-dropdown>
            </div>
            <div class="dropdown-item" *ngIf="roomTypeSelected === 'house'">
                <p-dropdown [options]="zoneList"
                            [(ngModel)]="zoneSelected"(onChange)="changeDetail('house')" ></p-dropdown>
            </div>
        </div>
        <div class="ui-g-12 ui-md-6 ui-lg-6">

        </div>
    </div>
    <p-panel [header]="initHeader()" [ngClass]="{'detail': isDetail}">
        <div class="content-panel-block">
            <was-room-item *ngIf="!isDetail" (showDetailEvent)="showDetail($event)"></was-room-item>
            <was-room-detail (payEvent)="payEmitAction($event)" (deleteGuestEvent)="deleteGuestEmitAction($event)"
                             (createGuestEvent)="createGuestEmitAction()"
                             (updateRoomEvent)="updateRoomEventAction($event)"
                             (updateGuestEvent)="updateGuestEventAction($event)" *ngIf="isDetail"></was-room-detail>
        </div>
    </p-panel>
</div>
<was-calendar-new></was-calendar-new>
<was-room-new (createRoomEvent)="createRoomAction($event)"></was-room-new>
<was-room-guest (createGuestEvent)="createGuestAction($event)"></was-room-guest>
<p-growl [(value)]="msgs"></p-growl>
<was-confirm-dialog-custom></was-confirm-dialog-custom>
