.content-panel-block {
  min-height: 69vh;
  max-height: 69vh;
  overflow-y: scroll;
}
.dropdown-item {
  margin-right: 5px;
  display: inline-block;
}
::ng-deep body .detail {
  .ui-widget-content {
    border: none!important;
    background-color: transparent!important;
  }
}

:host ::ng-deep {
  .input .input-group-append .input-group-text {
    display: block;
    min-width: 5.8em;
    text-align: right;
  }
  p-calendar {
    width: 100%;
    .ui-calendar {
      width: 100%;
      input {
        width: 100%;
      }
    }
  }

  .black-dropdown {
    .ui-dropdown {
      border-bottom-color: #000000;
      &:hover, &:active, &:focus{
        border-bottom-color: #000000;
      }
      .ui-dropdown-trigger, .ui-dropdown-label{
        color: #000000;
        border-color: #000000;
      }
    }
  }
}
