.content-block {
  max-height: 75vh;
  overflow-y: auto;
  margin-bottom: 5px;
}


:host ::ng-deep {
  .ui-dialog .ui-dialog-content {
    padding-top: 0 !important;
  }
}

.label {
  margin-bottom: 2px;
}
