<p-dialog modal="true" [(visible)]="display" responsive="true">
    <form [formGroup]="profileForm" (ngSubmit)="create()">
        <div class="ui-g form-group content-block">
            <div class="ui-g-12 ui-noPadBot">
                <div class="input-block">
                    <p-dropdown ngClass="full" [options]="roomType" id="roomType" placeholder="Loại" formControlName="roomType" (onChange)="changeRoomtype()"></p-dropdown>
                </div>
                <div class="input-block" *ngIf="profileForm.value['roomType'] === 'room'">
                    <p-dropdown ngClass="full" placeholder="Khu trọ" [options]="roomArea" formControlName="roomArea"></p-dropdown>
                </div>
                <div class="input-block">
                    <div class="ui-float-label no-append">
                        <input pInputText formControlName="name" id="name" required>
                        <label for="name">Tên <span class="required">(*)</span></label>
                    </div>
                </div>
                <div class="input-block">
                    <div class="ui-float-label no-append">
                        <input pInputText formControlName="address" id="address" required>
                        <label for="address">Địa chỉ <span class="required">(*)</span></label>
                    </div>
                </div>
            </div>
        </div>
        <p-footer>
            <div class="text-right">
                <button pButton type="submit" [disabled]="!profileForm.valid" label="Tạo mới"></button>
                <button pButton type="button" label="Hủy" (click)="display = !display" class="ui-button-secondary"></button>
            </div>
        </p-footer>
    </form>
</p-dialog>
